@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo base CinnamonWeb */

/* Tamaño de fuente base */
html {
  font-size: 15px; /* mobile / tablet */
}

@media (min-width: 1024px) {
  html {
    font-size: 17px; /* desktop un poco más grande */
  }
}

html,
body {
  @apply bg-sand text-ink antialiased;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  @apply text-cinnamon;
}

a:hover {
  @apply text-cinnamon-dark;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold text-ink;
}
